body{
    padding: 0px;
    margin: 0px;
}

.main-heading > h1 > a {
    display: block;
    color: red;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

.add-post > a{
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 90%;
    text-decoration: none;
    color: coral;
    font-size: 150%;
}

.post-entry{
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    border:2px solid black;
    border-radius: 10px;
    margin: 1%;
    padding: 1%
}

.post-entry > h2 > a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}